<%- include('../partials/header') %> 
<!-- section id for uniuqe background -->
<section id="nelson-hero">
    <div id="nelson-hero-background">
<%- include('../partials/navbar') %>
    <div id="report-spacer"></div>
        <div id="report-static-data">
            <div class="avy-top-content">
                <h1 id="location-h1" class='location-header'><%= reports[0].location %>, BC</h1>
                <div class="report-metadata">
                    <p>Last Updated: <%= reports[0].date %></p>
                    <!-- <p>Posted by: <%= reports[0].author %></p> -->
                    <label id='past-report-link' for='pastReport' href="">Past Reports</label>
                    <select name="pastReport">
                        <% for (let r in reports) { %>
                            <option value="<%= r %>"><%= reports[r].date %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="static-data-container">
                <img id='avy-icon' src="/images/<%= safety %>.png" alt="">
                <div class="avy-text">
                    <p>Generally safe avalanche conditions:</p>
                    <p>Watch for unstable snow.</p>
                    <a id="av-canada-report" href="https://www.avalanche.ca/map">See Your Region's Live Avalanche Canada Forecast.<img src="/images/link-icon.png"></a>
                </div>
            </div>
        </div>
        <div class="location-page-content">
            <div class="location-data-tile">
                <h5>Weather</h5>
                <p><%= reports[0].weatherSummary %></p>
            </div>
            <div class="location-data-tile">
                <h5>Snowpack</h5>
                <p><%= reports[0].snowpackSummary %></p>
            </div>
            <div class="location-data-tile">
                <h5>Avalanche</h5>
                <p><%= reports[0].avalancheSummary %></p>
            </div>
        </div>
        <div class="location-video-container">
            <video controls id="location-video" >
                <source src="<%= reports[0].video[0].url %>" type="video/mp4">
            </video>
            <!-- <video id="location-video" src="https://res.cloudinary.com/ddfdmqleo/video/upload/v1668533466/SOTS-Reports/bklgngumy5cc8hbseff2.mov"></video> -->
        </div>
    </div>
</section>
<div id="nelson-footer-spacer"></div>

</section>

<%- include('../partials/footer') %> 

<script>

    const locationHeader = document.querySelector('#location-h1')
    let header = locationHeader.innerText
    locationHeader.innerText = header.charAt(0).toUpperCase() + header.slice(1)


</script>